body{
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

a:hover {
    color:blue;
}

.aboutme {
    background-color: lightskyblue;
    border: 2px black;
    margin: 10px;
}

.workexp {
    background-color: aquamarine;
    border: 2px black;
    margin: 10px;
}

#title {
    font-size: 35px;
}